<StackLayout width="500" height="*">

    <Label text="Starting" marginTop="15" fontSize="16"></Label>
    <Label text="2 HOURS AFTER" fontSize="20"></Label>
    <Label text="your treatment" fontSize="16"></Label>
    <Image src="~/images/test-img.png" marginTop="25" stretch="none" horizontalAlignment="center"></Image>

    <Label text="Pass urine" fontSize="16"></Label>
    <Label text="After two hours have"></Label>
    <Label text="passed you may pass urine"></Label>
    <Image src="~/images/test-img.png" marginTop="25" stretch="none" horizontalAlignment="center"></Image>

    <Label text="Disinfect toilet" fontSize="16"></Label>
    <Label text="Each time after you urinate"></Label>
    <Label text="pour two cups of full-strength"></Label>
    <Label text="bleach (not diluted) into the"></Label>
    <Label text="toilet and then wait 15"></Label>
    <Label text="minutes before closing the"></Label>
    <Label text="toilet lid and flushing"></Label>
    <Image src="~/images/test-img.png" marginTop="25" stretch="none" horizontalAlignment="center"></Image>

    <Label text="Wash your hands" fontSize="16"></Label>
    <Label text="thoroughly" fontSize="16"></Label>
</StackLayout>