<StackLayout width="500" height="500">

    <Label text="Starting" fontSize="16" marginTop="15"></Label>
    <Label text="48 HOURS AFTER" fontSize="20"></Label>
    <Label text="your treatment" fontSize="16"></Label>
    <Image src="~/images/test-img.png" marginTop="25" stretch="none" horizontalAlignment="center"></Image>

    <Label text="Use protection" fontSize="16"></Label>
    <Label text="during intercourse and"></Label>
    <Label text="do not become pregnant"></Label>
    <Label text="during the course of treatment"></Label>
</StackLayout>