<StackLayout width="500" height="500">
    <Label textwrap=true text="Starting" fontSize="16" marginTop="15"></Label>
    <Label textwrap=true text="4 HOURS BEFORE" fontSize="20"></Label>
    <Label textwrap=true text="your treatment" fontSize="16"></Label>
    <Image src="~/images/test-img.png" marginTop="25" stretch="none" horizontalAlignment="center"></Image>
    <Label textwrap=true text="Do not drink any liquids" fontSize="16"></Label>
    <Image src="~/images/test-img.png" marginTop="25" stretch="none" horizontalAlignment="center"></Image>
    <Label textwrap=true text="Do not urinate" fontSize="16"></Label>
    <Label textwrap=true text="If possible try to avoid"></Label>
    <Label textwrap=true text="emptying your bladder"></Label>
</StackLayout>