<StackLayout width="500" height="500">
    <Label text="Starting" marginTop="15" fontSize="16"></Label>
    <Label text="6 HOURS AFTER" fontSize="20"></Label>
    <Label text="your treatment" fontSize="16"></Label>
    <Image src="~/images/test-img.png" marginTop="25" stretch="none" horizontalAlignment="center"></Image>

    <Label text="May take Tylenol" fontSize="16"></Label>
    <Label text="or Benadryl" fontSize="16"></Label>
    <Label text="You may take Tylenol/"></Label>
    <Label text="Acetaminophen (for any"></Label>
    <Label text="fever or pain) or Benadryl/"></Label>
    <Label text="Diphenhydramine"></Label>
    <Label text="(for itching) if needed"></Label>
</StackLayout>